.vs
/Library
/ProjectSettings
/Temp
/Assets/XLua/Gen
/Assets/XLua/Gen.meta
Assets/xLuaTest.meta
Assets/xLuaTest/
/*.csproj
/*.sln
/*.user
/build/build*
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
/build/*/*.a
luajit
buildvm
minilua
libluajit.so
lj_vm.S
build/luajit-2.1.0b2/src/host/buildvm_arch.h
build/luajit-2.1.0b2/src/jit/vmdef.lua
build/luajit-2.1.0b2/src/lj_bcdef.h
build/luajit-2.1.0b2/src/lj_ffdef.h
build/luajit-2.1.0b2/src/lj_folddef.h
build/luajit-2.1.0b2/src/lj_libdef.h
build/luajit-2.1.0b2/src/lj_recdef.h
build/luajit-2.1.0b2/src/lua51.lib
build/luajit-2.1.0b2/src/luajit.exe
build/luajit-2.1.0b2/src/luajit.exp
build/luajit-2.1.0b2/src/luajit.lib
coco_res*
/Assets/UI/RefTex*
/Assets/Temp*
build/plugin_lua53/
Assets/Editor/MyEditModeTest*
Assets/_CastleBurn/abcResources*
Assets/_CastleBurn/Font*
Assets/_CastleBurn/Prefab*
Assets/_CastleBurn/Sounds*
Assets/_CastleBurn/ActorAtlas~*
/OutSprite
Assets/2DxFX*
Assets/TextMesh Pro*
/Assets/EnhancedScroller/Demos*
obj/Debug/
AppOutput
raw_data/langs/lang.lua
*.apk
*.symbols.zip
build/luac/build64
_GameBundles/
Assets/StreamingAssets*
Assets/BundleResources/Lua/LuaPackedCode*
